$color-grey-light: rgb(202, 202, 202);
$color-grey-dark: rgb(81, 81, 81);


$color-orange-light: rgb(255, 107, 54);
$color-orange-medium: orangered;
$color-orange-dark: rgb(171, 46, 0);


$color-yellow-light: rgb(214, 148, 63);
$color-yellow-medium: rgb(254, 144, 0);
$color-yellow-dark: rgb(204, 115, 0);