.footer{
    height: auto;
    padding: 1rem 0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(128, 128, 128, 0.585);
    &__paragraph{
        margin-bottom: 1rem;
    }
    &__powered{
        &--link{
            text-decoration: none;
            color: orangered;
            &--space{
                margin: 0 .4rem;
            }
        }
        &--paragraph{
            color: rgb(202, 202, 202);
        }
    }
}