.menu {
  height: 60px;
  width: 100%;
  padding: .3rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__logo {
    margin-left: 2rem;
    background-image: url(/img/logo.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 20%;
    height: 100%;
  }
  &__list {
    width: 35%;
    height: 100%;
    &--ul {
      width: 100%;
      display: flex;
      height: 100%;
      justify-content: right;
      align-items: center;
      padding-right: 2rem;
    }
    &--li {
      display: inline-block;
      padding: 0.5rem 1.3rem;
      color: white;
      cursor: pointer;
      transition: all 0.4s ease-in;
      background-size: 320%;
      &:not(:first-child) {
        border-left: 2px solid rgba(255, 68, 0, 0.495);
      }
      &:hover {
        background-image: linear-gradient(
          120deg,
          transparent 0%,
          transparent 50%,
          orangered 50%
        );
        color: rgb(0, 0, 0);
        background-position: 100%;
      }
    }
  }
}
